/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto);
  
$navbar-blue:       rgba(112, 108, 255, 1);
$navbar-height:     50px;

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar{
  margin-bottom: 0px;
}

.nav.navbar-nav.navbar-right{
  padding-right: 25px;

  li.active, li.dropdown{
    padding-top: 5px;
    padding-bottom: 5px;

    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;

    &:hover{
      background-color: lighten($navbar-blue, 7.5%);

      -webkit-transition: background-color 0.4s ease;
      -moz-transition: background-color 0.4s ease;
      -o-transition: background-color 0.4s ease;
      transition: background-color 0.4s ease;

    }
  }
}

.nav{
  li{
    a{
      padding: 10px 13px;
    }
  }
}

.collapse-holder{
  padding-left: 15px;
}

h1, h2, h3, h4, h5{
  font-family: 'Roboto', sans-serif;
}

#full-content{
  padding-top: $navbar-height;
}

#full-content, #full-header{
  a, p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
}

.car-image{
  color: red;
}



.container-fluid{

  .navbar-header{
    margin-right: 2px;
  }
  padding-left: 0px;
  padding-right: 0px;
  .row{
    margin-left: 0px;
    margin-right: 0px;
    .no-space{
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.navbar-collapse{
  ul{
    li{
      ul{
        li{
          a{
            padding: 5px 20px;
          }
        }
      }
    }
  }
}

.up-one-pixel{
  margin-top: -1px;
}

hr{
  border-top: 1px solid #D5D5D5;
}

.title-banner{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  height: 43px;
  margin-bottom: -43px;
  @media (max-width: 1000px){
    display: none;
  }
}

.hosted{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 37px;
}

.z3000{
  z-index: 3000;
}

.black-bg{
  background-color: black;
}

#homepage-carousel{
  .carousel-indicators{
    bottom: -6px;
  }
  .carousel-caption{
    left: 0%;
    right: 0%;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: -5px;
  }
}

.raleway{
  font-family: 'Raleway';
  font-weight: 700;
}

#full-wrapper{
  min-height: 100%;
  position: relative;
}

#full-header{

}

#full-content{
  padding-bottom: 90px;
}

#full-footer{
  background-color: #eeeeee !important;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#no-border-radius{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  position: fixed;
  height: $navbar-height;
  z-index: 500000;
  width: 100%;
  box-shadow: 3px 3px 3px 3px rgba(137, 137, 137, 0.38);
}

.blue-navbar{
  background-color: $navbar-blue;
  border: none;
  .white-right-border{
    border-right: thin solid white;
  }
}

#body-container{
  a{
    &:hover{
      background-color: transparent;
    }
  }

  .panel-default{
    margin-bottom: 5px;
  }

  min-height: 72%;
}

.row-padded{
  padding-left:15px;
  padding-right:15px;
}

.black-caption-overlay{
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  height: 50px;
}

.homepage-column-header{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-color: #5A5A5A;
}

.learn-more-button{
  font-size: 20px;
  width: 242px;
}

#footer{
  border-top: thin solid #cccccc;
  .soft-gray-text{
    color: #969696;
  }
  .small-text{
    font-size: 11px;
  }
  .text-padded-top{
    padding-top: 8px;
  }
}

.white-header-link{
  color: white;
}

.caret-medium {
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFFFFF;
  margin-left: 8px;
}

.no-click-color-change{
  background-color: transparent !important;
}

.year-link{
  a{
    color: black;
    &:hover{
      text-decoration: none;
      color: #484848;
    }
  }
}

.year-grid-view{
  font-size: 40px;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 30px;
  border: thin solid rgb(56, 58, 110);

  a{
    color: black;
    text-decoration: none;
    &:hover{
      color: #484848;
    }
  }
}

.open{
  .dropdown-menu{
    li{
      a{
        color: #555555 !important;

        -webkit-transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -o-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        &:hover{
          color: black !important;
          background-color: #e2e2e2 !important;

          -webkit-transition: background-color 0.4s ease;
          -moz-transition: background-color 0.4s ease;
          -o-transition: background-color 0.4s ease;
          transition: background-color 0.4s ease;
        }
      }
    }
  }
}

.navbar-nav{
  .open{
    .dropdown-menu{
      background-color: rgba(192, 190, 255, 1);
      z-index: 6000;
      margin-top: -2px;
    }
  }
}

.banner-blue{
  background-color: rgba(112, 108, 255, 1);
}

$faq-gray:              #aaaaaa;
$faq-hover:             #706cff;
$circle-radius:         36px;
$spacing-fix:           14px;
$negative-spacing-fix:  -14px;

.new-faq-style-question{
  padding-bottom: 20px;
  margin-top: $negative-spacing-fix;

  .year-display{
    padding-bottom: 4px;
  }

  .original-display{
    display: inherit;
    padding-bottom: $spacing-fix;
    margin-bottom: 10px;
    
    &:hover{
      cursor: pointer;

      .circular{
        border-color: $faq-hover;
        .plus-sign{
          color: $faq-hover;
        }
      }
      .dropdown-line{
        border-color: $faq-hover;
      }
    }

    .circular{
      display: block;
      float: left;
      font-size: 26px;
      font-weight: 100;
      font-family: initial;
      height: $circle-radius;
      width: $circle-radius;
      text-align: center;
      border: thin solid $faq-gray;
      border-radius: 18px;

      .plus-sign{
        color: $faq-gray;
      }

      .x-sign-mods{
        font-family: 'Raleway';
        font-weight: 100;
        font-size: 19px;
        display: block;
        margin-top: 5px;
        margin-left: 1px;
      }
    }

  }
  .dropdown-line{
    display: inline-block;
    border-bottom: 1px solid $faq-gray;
    font-family: 'Roboto', sans-serif;

    // this 36px is actually $circle-radius, but scss can't handle that
    width: calc(100% - 36px);

  }

  .journal-year-group{
    font-size: 20px;
    margin-top: -7px;
  }

  .later-display{
    display: none;
    .new-faq-style-answer{
      margin-left: 68px;
      margin-right: 68px;
      
      a.no-underline{
        &:hover{
          text-decoration: none;
        }
      }

      .available-year{
        font-family: 'Roboto', sans-serif;
        color: grey;
        font-size: 24px;
        font-weight: 100;

        -webkit-transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -o-transition: color 0.4s ease;
        transition: color 0.4s ease;

        -webkit-transition: font-size 0.4s ease;
        -moz-transition: font-size 0.4s ease;
        -o-transition: font-size 0.4s ease;
        transition: font-size 0.4s ease;

        &:hover{
          color: blue;
          font-size: 29px;

          -webkit-transition: color 0.4s ease;
          -moz-transition: color 0.4s ease;
          -o-transition: color 0.4s ease;
          transition: color 0.4s ease;

          -webkit-transition: font-size 0.4s ease;
          -moz-transition: font-size 0.4s ease;
          -o-transition: font-size 0.4s ease;
          transition: font-size 0.4s ease;
        }
      }
    }
  }
}

.faq-headline{
  padding-bottom: 25px;
}

.devise-notice{
  background-color: #9898f4;
  margin-bottom: 0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.devise-alert{
  background-color: #f47878;
  margin-bottom: 0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}
