/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar{
  margin-bottom: 0px;
}

h1, h2, h3, h4, h5{
  font-family: 'Roboto', sans-serif;
}

#full-content, #full-header{
  a, p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
}



.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  .row{
    margin-left: 0px;
    margin-right: 0px;
    .no-space{
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.up-one-pixel{
  margin-top: -1px;
}

hr{
  border-top: 1px solid #D5D5D5;
}

.title-banner{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  height: 43px;
  margin-bottom: -43px;
  @media (max-width: 691px){
    display: none;
  }
}

.hosted{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 37px;
}

.z3000{
  z-index: 3000;
}

.black-bg{
  background-color: black;
}

#homepage-carousel{
  .carousel-indicators{
    bottom: 0px;
  }
  .carousel-caption{
    left: 0%;
    right: 0%;
    width: 100%;
    padding-bottom: 10px;
  }
}

.raleway{
  font-family: 'Raleway';
  font-weight: 700;
}

#full-wrapper{
  min-height: 100%;
  position: relative;
}

#full-header{

}

#full-content{
  padding-bottom: 90px;
}

#full-footer{
  background-color: #eeeeee !important;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#no-border-radius{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.blue-navbar{
  background-color: rgba(112, 108, 255, 1);
  border: none;
  .white-right-border{
    border-right: thin solid white;
  }
}

#body-container{
  a{
    &:hover{
      background-color: transparent;
    }
  }

  .panel-default{
    margin-bottom: 5px;
  }

  min-height: 72%;
}

.black-caption-overlay{
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  height: 20%;
  top: 80%;
}

.homepage-column-header{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-color: #5A5A5A;
}

.learn-more-button{
  font-size: 20px;
  width: 242px;
}

#footer{
  border-top: thin solid #cccccc;
  .soft-gray-text{
    color: #969696;
  }
  .small-text{
    font-size: 11px;
  }
  .text-padded-top{
    padding-top: 8px;
  }
}

.white-header-link{
  color: white;
}

.caret-medium {
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FFFFFF;
  margin-left: 8px;
}

.no-click-color-change{
  background-color: transparent !important;
}

.year-link{
  a{
    color: black;
    &:hover{
      text-decoration: none;
      color: #484848;
    }
  }
}

.year-grid-view{
  font-size: 40px;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 30px;
  border: thin solid rgb(56, 58, 110);

  a{
    color: black;
    text-decoration: none;
    &:hover{
      color: #484848;
    }
  }
}

.open{
  .dropdown-menu{
    li{
      a{
        color: #555555 !important;
        &:hover{
          color: black !important;
          background-color: #e2e2e2 !important;
        }
      }
    }
  }
}

.navbar-nav{
  .open{
    .dropdown-menu{
      background-color: rgba(192, 190, 255, 1);
      z-index: 6000;
      margin-top: -2px;
    }
  }
}

.banner-blue{
  background-color: rgba(112, 108, 255, 1);
}